//fonts
$quicksand:'Quicksand', sans-serif;

//colors
$orange: #ffa500;
$off-white: #f8f8f8;
$green: #57d846;
$red: #ea4455;
$blue: #224899;

//sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg:5rem;
$xxlg:7rem;

//button vars
$button-radius: 30px;